/* General Styling----------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --skin-color: var(--skin-color);
  --bg-black-900: #000;
  --bg-black-100: #ddd;
  --bg-opacity: rgba(255, 255, 255, 0.5);
  --bg-black-50: #eff0f4;
  --text-black-900: #000;
  --text-black-700: #555;
  --text-black-600: #666;
  --text-black-300: #bbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

body.dark {
  --bg-black-900: #fff;
  --bg-black-100: #353535;
  --bg-opacity: rgba(43, 44, 47, 0.5);
  --bg-black-50: #2b2c2f;
  --text-black-900: #fff;
  --text-black-700: #fff;
  --text-black-600: #bbb;
  --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
  --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--bg-black-50);
}

body.stop {
  overflow-y: hidden;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-center {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outer-shadow {
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
}

.inner-shadow {
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  -webkit-box-shadow: var(--outer-shadow-0);
          box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:hover::after {
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

.hover-in-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn_1 {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: inline-block;
}

.btn_1::after {
  border-radius: 30px;
}

.effect_wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect_wrap .effect.effect_1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.effect_wrap .effect.effect_2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: topBounce 3s linear infinite;
          animation: topBounce 3s linear infinite;
}

.effect_wrap .effect.effect_2 div {
  height: 3px;
  width: 3px;
  background-color: #ff9c0c;
  margin: 0 3px 3px;
}

.effect_wrap .effect.effect_3 {
  height: 180x;
  width: 180px;
  border-radius: 50%;
  border: 25px solid var(--skin-color);
  left: 50%;
  top: -120px;
  -webkit-animation: leftBounce 3s linear;
          animation: leftBounce 3s linear;
}

.effect_wrap .effect.effect_4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  -webkit-animation: spin 10s linear;
          animation: spin 10s linear;
}

.effect_wrap .effect.effect_4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

.effect_wrap .effect.effect_5 {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 10%;
  top: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: spin 10s linear;
          animation: spin 10s linear;
}

.effect_wrap .effect.effect_5 div {
  width: 1px;
  background-color: #4dd0e1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.section_title {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.section_title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin: 0;
}

.section_title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color);
}

.section.hide {
  display: none;
}

.section.active {
  display: block;
}

/* General Styling----------------- */
/* Header----------------- */
.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header .logo {
  height: 40px;
  width: 40px;
}

.header .logo a {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  border: 2px solid var(--skin-color);
  font-size: 24px;
  color: var(--skin-color);
  color: var(--skin-color);
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
}

.header .menu_btn {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border-radius: 50%;
}

.header .menu_btn::after {
  border-radius: 50%;
}

.header .menu_btn span {
  display: block;
  position: relative;
  height: 2px;
  width: 16px;
  background: var(--bg-black-900);
}

.header .menu_btn span::before, .header .menu_btn span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-900);
  top: -6px;
}

.header .menu_btn span::after {
  top: 6px;
}

/* Header----------------- */
/* Navbar----------------- */
.nav_menu {
  position: fixed;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--bg-black-50);
  overflow-y: auto;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.nav_menu.open {
  opacity: 1;
  visibility: visible;
  z-index: 999;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav_menu .close_btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  font-size: 35px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  line-height: 35px;
  text-align: center;
  color: var(--text-black-600);
}

.nav_menu .close_btn:after {
  border-radius: 50%;
}

.nav_menu .nav_menu_inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu .nav_menu_inner ul {
  padding: 15px;
}

.nav_menu .nav_menu_inner ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav_menu .nav_menu_inner ul li:last-child {
  margin-bottom: 0;
}

.nav_menu .nav_menu_inner ul li a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-black-700);
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 30px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav_menu .nav_menu_inner ul li a:after {
  border-radius: 30px;
}

.nav_menu .nav_menu_inner ul li a.active {
  color: var(--skin-color);
}

.nav_menu .copy {
  position: absolute;
  top: 50%;
  font-size: 16px;
  color: var(--text-black-600);
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  left: -30px;
}

.fade_out_effect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: -1;
  background-color: var(--bg-black-50);
}

.fade_out_effect.active {
  visibility: visible;
  z-index: 1000;
  -webkit-animation: fadeOut 0.3s ease;
          animation: fadeOut 0.3s ease;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Navbar----------------- */
/* Banner----------------- */
.home_section {
  position: relative;
}

.home_section .full_screen {
  padding: 50px 0;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_section .home_txt,
.home_section .home_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home_section .home_img .img_box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}

.home_section .home_img .img_box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.home_section .home_txt p {
  color: var(--text-black-300);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}

.home_section .home_txt h1 {
  font-size: 55px;
  font-weight: 700;
  color: var(--text-black-900);
  margin: 0;
}

.home_section .home_txt h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-black-700);
  margin: 0;
  text-transform: capitalize;
}

.home_section .home_txt a {
  margin-top: 30px;
}

/* Banner----------------- */
/* About Section----------------- */
.about_section {
  padding: 80px 0 0px;
  min-height: 100vh;
}

.about_section .about_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15x;
}

.about_section .about_img .img_box {
  padding: 15px;
  border-radius: 15px;
}

.about_section .about_img .img_box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}

.about_section .about_img .social_links {
  margin-top: 20px;
  text-align: center;
}

.about_section .about_img .social_links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: var(--text-black-600);
  margin: 0 4px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.about_section .about_img .social_links a::after {
  border-radius: 50%;
}

.about_section .about_img .social_links a:hover {
  color: var(--skin-color);
}

.about_section .about_img .social_links a i {
  line-height: 40px;
}

.about_section .about_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15x;
}

.about_section .about_info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--text-black-600);
}

.about_section .about_info span {
  color: var(--text-black-900);
}

.about_section .about_info .btn_1 {
  margin: 30px 20px 0;
}

.about_section .skills {
  padding: 0 0 40px;
}

.about_section .skills .skill_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 40px;
}

.about_section .skills .skill_item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.about_section .skills .skill_item .progress .progress_bar {
  background-color: var(--text-black-600);
  height: 6px;
  top: 7px;
  left: 7px;
  position: absolute;
  border-radius: 10px;
}

.about_section .skills .skill_item .progress .progress_bar span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black-600);
  margin-top: -40px;
}

.about_section .skills .skill_item p {
  font-size: 16px;
  color: var(--text-black-600);
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about_section .tab_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.about_section .tab_content.active {
  display: block;
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
}

.about_section .experience,
.about_section .education {
  padding: 0 0 0 80px;
}

.about_section .timeline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about_section .timeline::before {
  content: "";
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: var(--bg-black-100);
  position: absolute;
}

.about_section .timeline .timeline_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about_section .timeline .timeline_item:nth-child(odd) {
  padding-right: calc(50% + 50px);
}

.about_section .timeline .timeline_item:nth-child(odd) .icon {
  right: -70px;
}

.about_section .timeline .timeline_item:nth-child(odd) .timeline_item_inner::before {
  right: -30px;
}

.about_section .timeline .timeline_item:nth-child(even) {
  padding-left: calc(50% + 50px);
}

.about_section .timeline .timeline_item:nth-child(even) .icon {
  left: -70px;
}

.about_section .timeline .timeline_item:nth-child(even) .timeline_item_inner::before {
  left: -30px;
}

.about_section .timeline .timeline_item_inner {
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.about_section .timeline .timeline_item_inner::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  top: 37px;
  background-color: var(--bg-black-100);
}

.about_section .timeline .timeline_item_inner span {
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.about_section .timeline .timeline_item_inner h3 {
  margin: 0 0 5px;
  text-transform: capitalize;
  font-size: 20px;
  color: var(--text-black-700);
  font-weight: 600;
}

.about_section .timeline .timeline_item_inner h4 {
  margin: 0 0;
  text-transform: capitalize;
  font-size: 16px;
  color: var(--text-black-600);
  font-style: italic;
}

.about_section .timeline .timeline_item_inner p {
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}

.about_section .timeline .timeline_item_inner .icon {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 18px;
  border: var(--bg-black-100) 1px solid;
  background-color: var(--bg-black-50);
  color: var(--skin-color);
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.about_tabs,
.portfolio_filter {
  padding: 60px 15px 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.about_tabs .tab_item,
.about_tabs .filter_item,
.portfolio_filter .tab_item,
.portfolio_filter .filter_item {
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-size: 16px;
  color: var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}

.about_tabs .tab_item:hover:not(.active),
.about_tabs .filter_item:hover:not(.active),
.portfolio_filter .tab_item:hover:not(.active),
.portfolio_filter .filter_item:hover:not(.active) {
  opacity: 0.6;
}

.about_tabs .tab_item::after,
.about_tabs .filter_item::after,
.portfolio_filter .tab_item::after,
.portfolio_filter .filter_item::after {
  border-radius: 30px;
}

.about_tabs .tab_item.active,
.about_tabs .filter_item.active,
.portfolio_filter .tab_item.active,
.portfolio_filter .filter_item.active {
  color: var(--skin-color);
}

/* About Section----------------- */
/* Portfoli Section----------------- */
.portfolio_section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.portfolio_section .section_title {
  margin-bottom: 40px;
}

.portfolio_section .portfolio_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  max-width: 33.33%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio_section .portfolio_item.hide {
  display: none;
}

.portfolio_section .portfolio_item.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.3s linear;
          animation: fadeIn 0.3s linear;
}

.portfolio_section .portfolio_item .portfolio_item_inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.portfolio_section .portfolio_item .portfolio_item_inner:hover .view-project {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.portfolio_section .portfolio_item .portfolio_item_inner:hover .portfolio_item_img img {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.portfolio_section .portfolio_item .portfolio_item_inner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: var(--text-black-600);
  text-transform: capitalize;
}

.portfolio_section .portfolio_item .portfolio_item_img {
  position: relative;
}

.portfolio_section .portfolio_item .portfolio_item_img .view-project {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: absolute;
  left: 0;
  bottom: -4px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}

.portfolio_section .portfolio_item .portfolio_item_img img {
  width: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border-radius: 5px;
}

.portfolio_section .portfolio_item .portfolio_item_details {
  display: none;
}

.portfolio_popup {
  background-color: var(--bg-black-50);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio_popup.open {
  visibility: visible;
  opacity: 1;
}

.portfolio_popup .pp_loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
  background-color: var(--bg-opacity);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.portfolio_popup .pp_loader.active {
  visibility: visible;
  opacity: 1;
}

.portfolio_popup .pp_loader div {
  height: 40px;
  width: 40px;
  border: 3px solid var(--skin-color);
  border-radius: 50%;
  border-right: 3px solid transparent;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.portfolio_popup .pp_title {
  padding: 0 15px;
}

.portfolio_popup .pp_title h2 {
  font-size: 28px;
  color: var(--text-black-900);
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 15px;
}

.portfolio_popup .pp_title p {
  font-size: 14px;
  color: var(--text-black-600);
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 15px;
  border-bottom: 1px solid var(--bg-black-100);
  padding-bottom: 10px;
}

.portfolio_popup .pp_title p span {
  font-weight: 400;
}

.portfolio_popup .description {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 65% !important;
          flex: 0 0 65% !important;
  max-width: 65% !important;
  padding: 0 15px;
}

.portfolio_popup .description p {
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 0;
}

.portfolio_popup .info {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 35% !important;
          flex: 0 0 35% !important;
  max-width: 35% !important;
  padding: 0 15px;
}

.portfolio_popup .info ul li {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-black-600);
  font-size: 16px;
}

.portfolio_popup .info ul li span {
  font-weight: 400;
}

.portfolio_popup .info ul li:last-child {
  margin-bottom: 0;
}

.portfolio_popup .pp_project_details h3 {
  font-size: 20px;
  color: var(--text-black-700);
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 15px;
}

.portfolio_popup .pp_details {
  max-width: 1350px;
  margin: auto;
  width: calc(85% + 30px);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio_popup .pp_details.active {
  opacity: 1;
}

.portfolio_popup .pp_details .pp_details_inner {
  padding: 30px 0;
}

.portfolio_popup .divider {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--bg-black-100);
}

.portfolio_popup .pp_img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.portfolio_popup .pp_main {
  min-height: 100vh;
  max-width: 1350px;
  margin: auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio_popup .pp_main .pp_main_inner {
  padding: 70px 0 50px;
  position: relative;
}

.portfolio_popup .pp_main .pp_main_inner .pp_project_details_btn {
  position: absolute;
  left: 0;
  height: 40px;
  line-height: 40px;
  top: 15px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio_popup .pp_main .pp_main_inner .pp_project_details_btn::after {
  border-radius: 30px;
}

.portfolio_popup .pp_main .pp_main_inner .pp_project_details_btn i {
  margin-left: 4px;
}

.portfolio_popup .pp_main .pp_main_inner .pp_close {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  top: 15px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  color: var(--text-black-600);
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio_popup .pp_main .pp_main_inner .pp_close::after {
  border-radius: 50%;
}

.portfolio_popup .pp_main .pp_main_inner .pp_counter {
  position: absolute;
  right: 0;
  bottom: 5px;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  color: var(--text-black-600);
}

.portfolio_popup .pp_main .pp_prev,
.portfolio_popup .pp_main .pp_next {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  position: fixed;
  text-align: center;
  cursor: pointer;
  z-index: 1010;
  color: var(--text-black-900);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  opacity: 0.5;
}

.portfolio_popup .pp_main .pp_prev i,
.portfolio_popup .pp_main .pp_next i {
  line-height: 40px;
}

.portfolio_popup .pp_main .pp_prev:hover,
.portfolio_popup .pp_main .pp_next:hover {
  opacity: 1;
}

.portfolio_popup .pp_main .pp_prev {
  left: 15px;
}

.portfolio_popup .pp_main .pp_prev i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.portfolio_popup .pp_main .pp_next {
  right: 15px;
}

/* Portfoli Section----------------- */
/* Team Section----------------- */
.team_section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.team_section .test_box {
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
  margin: auto;
}

.team_section .test_box .test_slider {
  border-radius: 5px;
  overflow: hidden;
}

.team_section .test_box .test_slider .test_slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .test_box .test_slider .test_slider_container .test_item {
  padding: 30px;
  text-align: center;
  position: relative;
}

.team_section .test_box .test_slider .test_slider_container .test_item i {
  position: absolute;
  font-size: 30px;
  color: var(--text-black-600);
  opacity: 0.1;
}

.team_section .test_box .test_slider .test_slider_container .test_item i:first-child {
  left: 5px;
  top: 5px;
}

.team_section .test_box .test_slider .test_slider_container .test_item i:nth-child(2) {
  right: 5px;
  bottom: 5px;
}

.team_section .test_box .test_slider .test_slider_container .test_item p {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-black-600);
  margin: 0 0 30px;
}

.team_section .test_box .test_slider .test_slider_container .test_item img {
  max-width: 70px;
  display: inline-block;
  width: 100%;
}

.team_section .test_box .test_slider .test_slider_container .test_item span {
  display: block;
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-700);
}

.team_section .test_box .test_slider_nav {
  margin-top: 30px;
  text-align: center;
}

.team_section .test_box .test_slider_nav span {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  color: var(--skin-color);
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  margin: 0 4px;
}

.team_section .test_box .test_slider_nav span::after {
  border-radius: 50%;
}

.team_section .test_box .test_slider_nav span i {
  line-height: 40px;
}

/* Team Section----------------- */
.service_section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

@media (max-width: 991px) {
  .portfolio_section .portfolio_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .home_section .home_img,
  .home_section .about_img,
  .home_section .about_info,
  .home_section .skills .skill_item,
  .home_section .portfolio_item,
  .home_section .description,
  .home_section .info,
  .home_section .home_txt,
  .portfolio_section .home_img,
  .portfolio_section .about_img,
  .portfolio_section .about_info,
  .portfolio_section .skills .skill_item,
  .portfolio_section .portfolio_item,
  .portfolio_section .description,
  .portfolio_section .info,
  .portfolio_section .home_txt,
  .portfolio_popup .home_img,
  .portfolio_popup .about_img,
  .portfolio_popup .about_info,
  .portfolio_popup .skills .skill_item,
  .portfolio_popup .portfolio_item,
  .portfolio_popup .description,
  .portfolio_popup .info,
  .portfolio_popup .home_txt,
  .about_section .home_img,
  .about_section .about_img,
  .about_section .about_info,
  .about_section .skills .skill_item,
  .about_section .portfolio_item,
  .about_section .description,
  .about_section .info,
  .about_section .home_txt {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .home_section .home_txt,
  .portfolio_section .home_txt,
  .portfolio_popup .home_txt,
  .about_section .home_txt {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .home_section .full_screen,
  .portfolio_section .full_screen,
  .portfolio_popup .full_screen,
  .about_section .full_screen {
    padding: 100px 0;
  }
  .home_section .home_img .img_box,
  .portfolio_section .home_img .img_box,
  .portfolio_popup .home_img .img_box,
  .about_section .home_img .img_box {
    margin-bottom: 40px;
    max-width: 350px;
  }
  .home_section .about_img,
  .portfolio_section .about_img,
  .portfolio_popup .about_img,
  .about_section .about_img {
    padding-bottom: 30px;
  }
  .home_section .experience,
  .portfolio_section .experience,
  .portfolio_popup .experience,
  .about_section .experience {
    padding: 0;
  }
  .home_section .timeline::before,
  .portfolio_section .timeline::before,
  .portfolio_popup .timeline::before,
  .about_section .timeline::before {
    left: 35px;
  }
  .home_section .timeline .timeline_item,
  .portfolio_section .timeline .timeline_item,
  .portfolio_popup .timeline .timeline_item,
  .about_section .timeline .timeline_item {
    margin-bottom: 40px;
  }
  .home_section .timeline .timeline_item:last-child,
  .portfolio_section .timeline .timeline_item:last-child,
  .portfolio_popup .timeline .timeline_item:last-child,
  .about_section .timeline .timeline_item:last-child {
    margin-bottom: 0;
  }
  .home_section .timeline .timeline_item:nth-child(odd),
  .portfolio_section .timeline .timeline_item:nth-child(odd),
  .portfolio_popup .timeline .timeline_item:nth-child(odd),
  .about_section .timeline .timeline_item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }
  .home_section .timeline .timeline_item:nth-child(odd) .icon,
  .portfolio_section .timeline .timeline_item:nth-child(odd) .icon,
  .portfolio_popup .timeline .timeline_item:nth-child(odd) .icon,
  .about_section .timeline .timeline_item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }
  .home_section .timeline .timeline_item:nth-child(odd) .timeline_item_inner::before,
  .portfolio_section .timeline .timeline_item:nth-child(odd) .timeline_item_inner::before,
  .portfolio_popup .timeline .timeline_item:nth-child(odd) .timeline_item_inner::before,
  .about_section .timeline .timeline_item:nth-child(odd) .timeline_item_inner::before {
    left: -30px;
    right: auto;
  }
  .home_section .timeline .timeline_item:nth-child(even),
  .portfolio_section .timeline .timeline_item:nth-child(even),
  .portfolio_popup .timeline .timeline_item:nth-child(even),
  .about_section .timeline .timeline_item:nth-child(even) {
    padding-left: 15px;
    padding-left: 75px;
  }
  .home_section .timeline .timeline_item:nth-child(even) .icon,
  .portfolio_section .timeline .timeline_item:nth-child(even) .icon,
  .portfolio_popup .timeline .timeline_item:nth-child(even) .icon,
  .about_section .timeline .timeline_item:nth-child(even) .icon {
    left: -60px;
  }
  .effect_3 {
    margin-left: -60px;
  }
  .effect_4 {
    left: 15%;
  }
  .effect_5 {
    right: 4%;
  }
}

@media (max-width) {
  .home_section .home_img .img_box {
    max-width: 260px;
  }
  .home_section .home_txt h2 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */